@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
:root{
    --f-color:#1A120B;
    --s-color:#19376D;
    --p-color:#576CBC;
}

body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--f-color);
    font-family: 'Kanit', sans-serif;
}

.f-text{
    color: var(--f-color);
    position: relative;
    font-size: 8vw;
    color: white;
    text-transform: uppercase;
    margin-right: 10px;
}

.s-text{
    color: var(--f-color);
    position: relative;
    font-size: 8vw;
    text-transform: uppercase;
}

.s-text::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-right: 2px solid var(--p-color);
    color: var(--p-color);
    animation: text-ani 6s linear infinite;
    overflow: hidden;
}

@keyframes text-ani{
    0%, 10%, 100%{
        width: 0%;
    }

    70%, 90%{
        width: 100%;
    }
}